@charset "UTF-8";
.landing-content .profile .name, .main-nav .name {
  color: #2d8086;
  font-weight: bold;
  text-transform: uppercase; }

.circle {
  border-radius: 50%;
  display: inline-block; }

.portfolio-summary {
  cursor: pointer; }

.portfolio-entry .portfolio-summary .portfolio-profile .portfolio-links a, nav a, .main-footer a, .about-page .content a, .contact-page .content a {
  cursor: pointer;
  text-decoration: none; }
  .portfolio-entry .portfolio-summary .portfolio-profile .portfolio-links a:hover, nav a:hover, .main-footer a:hover, .about-page .content a:hover, .contact-page .content a:hover {
    text-decoration: underline; }

.portfolio-entry .portfolio-summary .portfolio-profile .portfolio-links a {
  color: #88562d; }
  .portfolio-entry .portfolio-summary .portfolio-profile .portfolio-links a:after {
    content: " \203A"; }

a, .portfolio-summary .portfolio-skill,
.portfolio-summary .view-more {
  cursor: pointer;
  text-decoration: underline; }
  a:hover, .portfolio-summary .portfolio-skill:hover,
  .portfolio-summary .view-more:hover {
    text-decoration: none; }

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 10px 10px 0 10px;
  font-size: 14px; }
  @media screen and (min-width: 768px) and (max-width: 971px), screen and (min-width: 972px) and (max-width: 1399px), screen and (min-width: 1400px) {
    body {
      margin: 20px 50px 0 50px; } }

a {
  color: black; }

.hidden {
  display: none; }

.float-right {
  float: right; }

.circle {
  width: 1em;
  height: 1em;
  margin: 0 .5em; }

img.icon {
  vertical-align: middle;
  height: 30px; }

span.icon-caption {
  vertical-align: middle;
  margin-right: 20px;
  font-size: 14px; }

ul li {
  list-style-position: outside;
  margin-left: 2em; }

.landing-content {
  line-height: 1.5; }
  .landing-content .profile {
    text-align: center;
    padding-top: 70px; }
    .landing-content .profile .name {
      font-size: 80px;
      text-align: center;
      padding-bottom: 40px;
      letter-spacing: 5px; }
    .landing-content .profile .about-item {
      font-size: 16px;
      color: #233237;
      line-height: 1.875; }
    .landing-content .profile .about-item::before {
      color: #233237; }
  @media screen and (min-width: 768px) and (max-width: 971px), screen and (min-width: 972px) and (max-width: 1399px), screen and (min-width: 1400px) {
    .landing-content {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; } }

@media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 767px) {
  .landing-menu {
    display: none; } }

.landing-menu nav {
  margin-top: 100px;
  border-top: 1px solid #2d8086;
  padding-top: 20px;
  font-weight: 600; }
  .landing-menu nav a {
    margin: 0 60px; }

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .main-nav .name {
    font-size: 24px;
    margin-left: 20px;
    line-height: 50px;
    height: 50px;
    position: absolute; }
  @media screen and (min-width: 768px) and (max-width: 971px), screen and (min-width: 972px) and (max-width: 1399px), screen and (min-width: 1400px) {
    .main-nav nav {
      font-size: 16px;
      width: 50%;
      font-weight: 600;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid white; }
      .main-nav nav a:hover {
        text-decoration: none;
        color: #2d8086; }
      .main-nav nav a.active {
        background-color: #2d8086;
        color: white;
        padding: 10px 30px; } }
  @media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 767px) {
    .main-nav nav.desktop-nav {
      display: none; } }

#hamburger-container {
  /* Position and sizing of burger button */
  /* Color/shape of burger icon bars */
  /* Position and sizing of clickable cross button */
  /* Color/shape of close button cross */
  /* General sidebar styles */
  /* Morph shape necessary with bubble or elastic */
  /* Wrapper for item list */
  /* Styling of overlay */ }
  @media screen and (min-width: 768px) and (max-width: 971px), screen and (min-width: 972px) and (max-width: 1399px), screen and (min-width: 1400px) {
    #hamburger-container {
      display: none; } }
  #hamburger-container .bm-burger-button {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 36px;
    top: 36px;
    margin-top: -14px; }
  #hamburger-container .bm-burger-bars {
    background: #373a47; }
  #hamburger-container .bm-cross-button {
    height: 24px;
    width: 24px; }
  #hamburger-container .bm-cross {
    background: #bdc3c7; }
  #hamburger-container .bm-menu-wrap {
    top: 0px; }
    #hamburger-container .bm-menu-wrap .bm-menu {
      background: #373a47;
      padding: 2.5em 1.5em 0;
      font-size: 1.25em;
      line-height: 2em; }
  #hamburger-container .bm-item-list {
    padding: 0.8em;
    text-align: center; }
    #hamburger-container .bm-item-list a {
      color: white; }
      #hamburger-container .bm-item-list a.active {
        color: #2d8086; }
  #hamburger-container .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0px;
    left: 0px; }

.main-footer {
  margin-left: -10px;
  width: calc(100% + 20px);
  height: 3em;
  align-items: center;
  display: flex;
  border-top: 1px dotted #d0d3c5;
  justify-content: space-between; }
  @media screen and (min-width: 768px) and (max-width: 971px), screen and (min-width: 972px) and (max-width: 1399px), screen and (min-width: 1400px) {
    .main-footer {
      margin-left: -50px;
      width: calc(100% + 100px); } }
  .main-footer * {
    color: #2d8086;
    padding: 0 20px; }

.hoverable-icon img.icon {
  margin: 0 10px; }

.portfolio-entry {
  margin: 2em 0;
  /*&.closed .portfolio-summary {
    border-bottom: 1px dotted $color;
  }
  .portfolio-more {
    border-bottom: 1px solid $color;
  }*/ }
  .portfolio-entry .portfolio-summary .portfolio-img {
    vertical-align: middle;
    padding: 10px; }
    @media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 767px) {
      .portfolio-entry .portfolio-summary .portfolio-img {
        width: 100%;
        padding: 0px; } }
  @media screen and (min-width: 768px) and (max-width: 971px), screen and (min-width: 972px) and (max-width: 1399px), screen and (min-width: 1400px) {
    .portfolio-entry .portfolio-summary .portfolio-profile {
      display: inline-block;
      max-width: calc( 50% - 2em - 20px);
      vertical-align: middle;
      margin: 1em; } }
  @media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 767px) {
    .portfolio-entry .portfolio-summary .portfolio-profile {
      text-align: center; } }
  .portfolio-entry .portfolio-summary .portfolio-profile .portfolio-title {
    font-weight: bold;
    font-size: 24px;
    display: inline-block; }
  .portfolio-entry .portfolio-summary .portfolio-profile .portfolio-description {
    margin: 1em 0;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0; }
  .portfolio-entry .portfolio-summary .view-more {
    text-decoration: none;
    color: #2d8086;
    float: right;
    font-size: 20px; }
    @media screen and (min-width: 768px) and (max-width: 971px), screen and (min-width: 972px) and (max-width: 1399px), screen and (min-width: 1400px) {
      .portfolio-entry .portfolio-summary .view-more {
        display: block;
        position: absolute;
        color: #2d8086;
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
        margin-top: -1em;
        margin-left: 10px; } }
  .portfolio-entry .portfolio-more {
    padding: 20px;
    text-align: center; }
    .portfolio-entry .portfolio-more div {
      padding: .5em 0; }
    .portfolio-entry .portfolio-more > div > * {
      text-align: center;
      max-width: 100%; }
    .portfolio-entry .portfolio-more img {
      max-width: 100%;
      max-height: 100%; }
    .portfolio-entry .portfolio-more * {
      margin: 0 auto; }
    .portfolio-entry .portfolio-more ul {
      text-align: left;
      list-style-type: square; }
  .portfolio-entry .portfolio-summary {
    border-top: 5px solid #CBB778; }
    .portfolio-entry .portfolio-summary:hover .portfolio-title {
      color: #CBB778; }

@media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 767px) {
  .portfolio-entry.closed .portfolio-description {
    display: none; }
  .portfolio-entry.expanded .portfolio-description {
    display: block; } }

/*.landing { 
    background: url(http://www.michaelbannongolfteam.com/wp-content/uploads/2014/08/Blurred-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
}*/
.landing-page {
  text-align: center;
  width: 70%;
  min-width: 50%;
  height: 80%;
  margin: 15% auto 5% auto; }

@media screen and (min-width: 768px) and (max-width: 971px), screen and (min-width: 972px) and (max-width: 1399px), screen and (min-width: 1400px) {
  .navbar-brand {
    float: left;
    padding: 13px 15px;
    font-size: 19px;
    line-height: 24px;
    color: white;
    margin-left: 9vw; }
  .navbar-brand:hover {
    text-decoration: none; }
  .navbar-inverse {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.6); }
  ul {
    list-style-type: none;
    display: block; }
  .navbar-fixed-top {
    z-index: 1030;
    top: 0; }
  .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px; }
  .navbar {
    min-height: 50px;
    margin-bottom: 24px;
    padding-top: 12px;
    border: 1px solid transparent; }
  .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px; }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
  .navbar-right {
    float: right !important;
    margin-right: 9vw;
    display: flex;
    justify-content: space-between; }
  li {
    position: relative;
    display: inline-flex;
    padding-left: 5vw;
    align-items: center; }
  li a {
    color: white;
    font-size: 15px; }
  li a:hover {
    text-decoration: none; } }

@media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 767px) {
  nav.desktop-nav {
    display: none; }
  nav.navbar {
    display: none; } }

@media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 767px) {
  .about-page {
    height: calc(100vh - 50px - 3em); } }

.about-page .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  line-height: 1.5em; }
  .about-page .content img {
    width: 50%; }
  @media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 767px) {
    .about-page .content img {
      width: 50%; } }
  .about-page .content .contact-mediums {
    color: #233237; }

.about-page .main-footer {
  bottom: 0;
  width: 100%;
  position: fixed; }

.main-footer {
  bottom: 0; }

@media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 767px) {
  .contact-page {
    height: calc(100vh - 50px - 3em); } }

.contact-page .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  line-height: 1.5em; }
  .contact-page .content img {
    width: 50%; }
  @media screen and (max-width: 480px), screen and (min-width: 481px) and (max-width: 767px) {
    .contact-page .content img {
      width: 50%; } }
  .contact-page .content .contact-mediums {
    color: #233237; }

.contact-page .main-footer {
  bottom: 0;
  width: 100%;
  position: fixed; }
