
$body-bg: transparent; 


.landing-content {
  line-height: 1.5;
  .profile {
    text-align: center;
    padding-top:70px;
    .name {
      @extend %name_styling;
      font-size: $largest_font;
      text-align: center;
      padding-bottom: 40px;
      letter-spacing: 5px;
    }
    .about-item {
      font-size: $normal_font;
      color: $color_blue;
      line-height: 1.875;
      //margin-left:1em;
    }
    .about-item::before {
      color: $color_blue;
    }
  }


    @media #{$media_medium_and_up}{
      text-align: center;
      display:flex;
      justify-content: center;
      align-items: center;
      
    }
}
